@font-face {
    font-family: oswald;
    src: url(Oswald-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: oswald;
}

nav {
    background-color: black;
}

a {
    text-decoration: none;
    color: gray;
}

body {
    background: url(1920x1080_MST_F1_2025_9077_01.avif);
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 420px;
    color: white;
    border-radius: 40px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;

}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    transition: 0.3s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    font-weight: 600px;
    transition: 0.3s;
}

.container2 {
    background-color: gray;
    width: 100%;
    height: 100vh;
}

.inov {
    width: 80%;
    height: 50vh;
}

.input-box:hover {
    transform: scale(1.1);
}

.btn:hover {
    transform: scale(1.1);
    color: white;
    background-color: grey;
}