@font-face {
    font-family: Oswald;
    src: url(Oswald-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Oswald;
    background-color: hsla(216, 23%, 8%, 1);
    overflow-x: hidden;
}

nav {
    background-color: black;
}

a {
    text-decoration: none;
    color: grey;
}

.sub-header {
    width: 100%;
    height: 100vh;
    background-image: url(1920x1080_MST_F1_2025_9077_01.avif); 
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 50px;
    background-repeat: no-repeat;
}

li {
    list-style: none;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 50px;
}

.section2 {
    background-image: url(1920x1920_Innovation_A230547_01.avif);
    background-size: cover;
    width: 750px;
    height: 750px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 50px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.section2:hover {
    transform: scale(1.1);
}

.section3 {
    height: 750px;
    width: 750px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 40px;
}

.sectimg1 {
    background-image: url(1080x1920_A250752_large.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 50px;
    border-radius: 20px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.sectimg1:hover {
    transform: scale(1.1);
}

.sectimg2 {
    background-image: url(1440x1440_A251206_large.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 50px;
    transition: 0.5s;
    border-radius: 20px;
    cursor: pointer;
    color: white
}

.sectimg2:hover {
    transform: scale(1.1);
}

.sect1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 40px;
}

.sect2 {
    background-image: url(sus.avif);
    background-size: cover;
    width: 750px;
    height: 750px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.sect2:hover {
    transform: scale(1.1);
}

.sect3 {
    height: 750px;
    width: 750px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 40px;
}

.sect4 {
    background-image: url(ev.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    padding-bottom: 40px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 20px;
}

.sect4:hover {
    transform: scale(1.1);
}

.sect5 {
    background-image: url(sus1.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    color: white;
    padding-bottom: 40px;
    transition: 0.5s;
}

.sect5:hover {
    transform: scale(1.1);
}

.sect6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-bottom: 50px;
}

.sect7 {
    height: 750px;
    width: 70%;
    background-image: url(spirit.avif);
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 180px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.sect7:hover {
    transform: scale(1.1);
}

footer {
    background-color: black;
    padding: 15px;
}

.icons {
    padding-top: 15px;
    width: 100%;
    text-align: center;
}

.icons a {
    color: white;
    background-color: black;
    border-radius: 10%;
    font-size: xx-large;
    transition: 0.5s;
}

.icons a:hover {
    color: black;
    background-color: white;
}

.info {
    display: flex;
    justify-content: center;
    width: 100%;
}

.info ul {
    display: flex;
    padding-right: 35px;
    margin: 10px;
}

.info ul li {
    margin: 5px;
}

.info ul li a {
    color: white;
    background-color: black;
    transition: 0.5s;
}

.info ul li a:hover {
    color: black;
    background-color: white;
}

.bottom {
    text-align: center;
    padding-right: 5px;
}

.main {
    height: 100vh;
    width: 100%;
    background-image: url(company.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 200px;
    text-decoration: none;
}

.main h1 {
    font-size: 80px;
    color: white;
}

.txt {
    color: white;
    margin-top: 30px;
    height: 300px;
    width: 95%;
    padding-top: 70px;
    text-align: center;
    font-size: xx-large;
    background-color: grey;
    margin-left: 45px;
    border-radius: 20px;
    transition: 1s;
}

.txt:hover {
    background-color: white;
    transform: scale(0.9);
    color: gray;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.card1 {
    height: 400px;
    width: 600px;
    background-image: url(profile.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 60px;
    transition: 0.5s;
    cursor: pointer;
}

.card1 h1 {
    font-size: 60px;
    color: white;
}

.card1:hover {
    transform: scale(1.1);
}

.card2 {
    background-image: url(strategy.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 60px;
    transition: 0.5s;
    cursor: pointer;
}

.card2 h1 {
    color: white;
    font-size: 60px;
}

.card2:hover {
    transform: scale(1.1);
}

.card3 {
    background-image: url(compli.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 60px;
    transition: 0.5s;
    cursor: pointer;
}

.card3 h1 {
    color: white;
    font-size: 60px;
}

.card3:hover {
    transform: scale(1.1);
}

.txts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 300px;
}

.txt1 {
    height: 200px;
    width: 500px;
    color: white;
    background-color: grey;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
}

.txt1:hover {
    transform: scale(1.1);
    background-color: white;
    color: grey;
}

.txt2 {
    height: 200px;
    width: 500px;
    color: white;
    background-color: grey;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    transition: 0.3s;
}

.txt2:hover {
    transform: scale(1.1);
    background-color: white;
    color: grey;
}

.txt3 {
    height: 200px;
    width: 500px;
    color: white;
    background-color: grey;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
}

.txt3:hover {
    transform: scale(1.1);
    background-color: white;
    color: grey;
}

.last-txt {
    height: 200px;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 50px;
}

hr {
    border-top: solid whitesmoke 5px;
    border-radius: 10px;
}

.tech-container {
    height: 100vh;
    width: 100%;
}

.tech-container h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: white;
    font-size: 50px;
}

.img-tech {
    width: 100%;
    height: 90vh;
}

.img-tech img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.tech-txt {
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: white;
    width: 70%;
    font-weight: 100;
}

.main-txt {
    width: 100%;
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.art-cont {
    width: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: 0.5s;
}

.art-cont:hover {
    transform: scale(1.1);
}

.art-img {
    width: 900px;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
}

.art-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.art-text {
    width: 800px;
    height: 196px;
    color: white;
}

.art-text p {
    font-weight: 100;
    font-size: 20px;
}

.text1 {
    color: bisque;
    padding: 60px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.container0 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.audi1 {
    width: 900px;
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
    color: white;
}

.audi1 img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 20px;
}

.audi1 img:hover {
    transform: scale(0.9);
}

.audi2 {
    height: 600px;
    width: 900px;
    object-fit: cover;
    color: white;
}

.audi2 img {
    height: 80%;
    width: 100%;
    border-radius: 20px;
    transition: 0.5s;
    border-radius: 20px;
}

.audi2 img:hover {
    transform: scale(0.9);
}

@media (max-width: 768px) {
    
    .sub-header {
        background-image: url(1080x1920_MST_F1_2025_9066_01.avif);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 90px;
    }

    .sub-header ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section1 {
        height: auto;
        padding: 20px;
    }

    .sectimg1 {
        text-align: center;
    }
    
    .section2 {
        height: 400px;
    }

    .section3 {
        height: 400px;
    }

    .sect1 {
        height: auto;
        padding: 20px;
    }

    .sect2 {
        height: 400px;
    }

    .sect3 {
        height: 400px;
    }

    .sect4 {
        text-align: center;
    }

    .sect5 {
        text-align: center;
    }

    .sect6 {
        height: auto;
        padding: 20px;
    }

    .sect7 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 250px;
        width: 600px;
    }

    .txt {
        height: auto;
        width: 95%;
        margin-left: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .cards {
        flex-direction: column;
    }

    .card1 {
        width: 85%;
    }

    .card2 {
        width: 85%;
    }

    .card3 {
        width: 85%;
        text-align: center;
    }

    .txts {
        width: 100%;
        gap: 2px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    .txt1 {
        height: 240px;
        padding-top: 50px;
    }
    
    .txt2 {
        height: 240px;
        padding-top: 50px;
    }
    
    .txt3 {
        height: 240px;
        padding-top: 20px;
    }

    .tech-container {
        height: auto;
        max-width: 500px;
    }

    .img-tech {
        height: 550px;
        overflow: hidden;
    }

    .img-tech img {
        object-fit: cover;
        width: 500px;
        object-position: center;
    }

    .main-txt {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .art-img {
        height: 450px;
        padding-left: 30px;
    }

    .art-text {
        margin-bottom: 260px;
        padding-right: 20px;
    }

    .art-cont {
        gap: 10px;
        max-width: 500px;
    }

    .text1 {
        padding-left: 40px;
    }

    .container0 {
        flex-direction: column;
        max-width: 500px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .audi1 {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .audi1 img {
        border-radius: 20px;
        height: 200px;
        width: 100%;
    }

    .audi2 {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .audi2 img {
        border-radius: 20px;
        height: 200px;
    }

    .tech-txt {
        width: 490px;
        padding-bottom: 40px;
        padding-top: 20px;
    }

    .last-txt {
        height: 270px;
    }
}